<%= form_with(model: address_restriction) do |form| %>

  <% if address_restriction.errors.any? %>
    <div class="error-messages">
      <h3><%= pluralize(driver.errors.count, "Fehler") %> verhindert das Speichern:</h3>
      <%= render "shared/form_errors" %>
    </div>
  <% end %>

  <div>
    <%= form.label :driver_id, style: "display: block" %>
    <%= form.number_field :driver_id %>
  </div>

  <div>
    <%= form.label :werk_adr_nr, style: "display: block" %>
    <%= form.number_field :werk_adr_nr %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
