<div class="main-header">
  <h1 class="page-title">
    Tourenplanung
  </h1>

  <nav class="main-nav">
    <%= link_to "Tourenübersicht", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
    <%= link_to "Fahrer", drivers_path, class: "nav-link #{'active' if current_page?(drivers_path)}" %>
    <%= link_to "Fahrzeuge", vehicles_path, class: "nav-link #{'active' if current_page?(vehicles_path)}" %>
    <%= link_to "Anhänger", trailers_path, class: "nav-link #{'active' if current_page?(trailers_path)}" %>
    <%= link_to "Sperrliste", address_restrictions_path, class: "nav-link #{'active' if current_page?(address_restrictions_path)}" %>
  </nav>
</div>