<div class="main-header">
  <h1 class="page-title">
    Tourenplanung
  </h1>

  <nav class="main-nav">
    <%= active_link_to "Startseite", root_path, active: :exclusive, class: "nav-link" %>
    <%= active_link_to "Tourenübersicht", completed_tours_path, active: :exclusive, class: "nav-link" %>
    <%= active_link_to "Fahrer", drivers_path, class: "nav-link" %>
    <%= active_link_to "Fahrzeuge", vehicles_path, class: "nav-link" %>
    <!--<%#= active_link_to "Anhänger", trailers_path, class: "nav-link" %>-->
    <%= active_link_to "Werk", loading_locations_path, class: "nav-link" %>
    <%= active_link_to "Sperrliste", address_restrictions_path, class: "nav-link" %>
  </nav>
</div>