<div class="section-body section-body-table" data-controller="inline-edit">

  <table class="completed-tours-table">
    <thead>
    <tr>
      <th>Tour-Id</th>
      <th>Datum</th>
      <th>Fahrer</th>
      <th>Fahrzeug</th>
      <th>Anhänger</th>
      <th>Werk</th>
      <th>Erledigt</th>
      <th>Gesendet</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <% tours.each do |tour| %>
      <tr data-tour-id="<%= tour.id %>">

        <td>
              <span class="editable-field"
                    data-inline-edit-target="field"
                    data-field="name"
                    data-type="text"
                    data-value="<%= tour.name %>">
                <%= tour.name %>
              </span>
        </td>

        <td>
              <span class="editable-field"
                    data-inline-edit-target="field"
                    data-field="tour_date"
                    data-type="date"
                    data-value="<%= tour.tour_date %>">
                <%= tour.tour_date&.strftime("%d.%m.%Y") %>
              </span>
        </td>


        <td>
              <span class="editable-field"
                    data-inline-edit-target="field"
                    data-field="driver_id"
                    data-type="select"
                    data-options='<%= drivers.map { |d| { value: d.id, text: d.full_name } }.to_json %>'
                    data-value="<%= tour.driver_id %>">
                <%= tour.driver&.full_name || "-" %>
              </span>
        </td>

        <td>
              <span class="editable-field"
                    data-inline-edit-target="field"
                    data-field="vehicle_id"
                    data-type="select"
                    data-options='<%= vehicles.map { |v| { value: v.id, text: v.license_plate } }.to_json %>'
                    data-value="<%= tour.vehicle_id || tour.effective_vehicle&.id %>">
                <%= tour.effective_vehicle_license_plate || "-" %>
              </span>
        </td>

        <td>
              <span class="editable-field"
                    data-inline-edit-target="field"
                    data-field="trailer_id"
                    data-type="select"
                    data-options='<%= trailers.map { |t| { value: t.id, text: t.license_plate } }.to_json %>'
                    data-value="<%= tour.trailer_id %>">
                <%= tour.effective_trailer_license_plate || "-" %>
              </span>
        </td>

        <td>
          <span class="editable-field"
                data-field="loading_location_id" data-type="select"
                data-options='<%= loading_locations.map { |l| { value: l.id, text: l.werk_name } }.to_json %>'
                data-value="<%= tour.loading_location_id %>">
            <%= tour.loading_location&.werk_name || "-" %>
          </span>
        </td>

        <td class="text-center">
          <%= check_box_tag "completed_#{tour.id}",
                            "1",
                            tour.completed,
                            class: "form-check-input",
                            data: {
                              action: "change->inline-edit#toggleCompleted",
                              tour_id: tour.id
                            } %>
        </td>

        <td class="text-center">
          <%= check_box_tag "sent_#{tour.id}",
                            "1",
                            tour.sent,
                            class: "form-check-input",
                            data: {
                              action: "change->inline-edit#toggleSent",
                              tour_id: tour.id
                            } %>
        </td>
        <td>ds</td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>