<p style="color: green"><%= notice %></p>

<%= render @trailer %>

<div>
  <%= link_to "Edit this trailer", edit_trailer_path(@trailer) %> |
  <%= link_to "Back to trailers", trailers_path %>

  <%= button_to "Destroy this trailer", @trailer, method: :delete %>
</div>
