<tr data-controller="inline-edit"
    data-vehicle-id="<%= vehicle.id %>"
    class="vehicle-row vehicle-type-<%= vehicle.vehicle_type %>">
  <td>
    <span class="editable-field"
          data-inline-edit-target="field"
          data-field="license_plate"
          data-type="text"
          data-value="<%= vehicle.license_plate %>">
      <%= vehicle.license_plate %>
    </span>
  </td>
  <td>
    <span class="editable-field"
          data-inline-edit-target="field"
          data-field="vehicle_number"
          data-type="text"
          data-value="<%= vehicle.vehicle_number %>">
      <%= vehicle.vehicle_number || '--' %>
    </span>
  </td>
  <td>
    <span class="editable-field"
          data-inline-edit-target="field"
          data-field="vehicle_type"
          data-type="number"
          data-value="<%= vehicle.vehicle_type_integer %>">
      <%= vehicle.vehicle_type_integer || '--' %>
    </span>
  </td>
  <td>
    <span class="status-badge status-vehicle-<%= vehicle.vehicle_type %>">
      <%= vehicle.vehicle_type_label %>
    </span>
  </td>
  <td>
    <span class="editable-field"
          data-inline-edit-target="field"
          data-field="vehicle_short"
          data-type="text"
          data-value="<%= vehicle.vehicle_short %>">
      <%= vehicle.vehicle_short || '--' %>
    </span>
  </td>
  <td class="actions-cell">
    <%= link_to "Ansehen", vehicle_path(vehicle), class: "btn btn-primary btn-sm" %>
  </td>
</tr>
